
.team-worklog {
    padding: 20px 30px 0 30px;
}

.team-worklog.no-worklog {
    padding: 0;
    height: 400px;
    background: url(../images/no-worklog-day.png) no-repeat 50% 50%;
}

.team-worklog.no-worklog.new-day {
    background: url(../images/yin-dang-de-yi-tian.png) no-repeat 50% 50%;
}

.team-worklog .member-worklog {
    margin: 0 0 40px 0;
}

.team-worklog .member-worklog .title {
    border-top: 1px solid #cccccc;
    padding: 16px 0 5px 70px;
    line-height: 24px;
    position: relative;
}

.team-worklog .member-worklog .title .avatar {
    display: block;
    border: 1px solid #cccccc;
    padding: 2px;
    background: #ffffff;
    position: absolute;
    top: -15px;
    left: 0;
}

.team-worklog .member-worklog .title .avatar img {
    display: block;
    width: 50px;
    height: 50px;
}

.team-worklog .member-worklog .title .name {
    font-size: 20px;
	font-family: Arial,"STHeiti","微软雅黑","黑体";
}

.team-worklog .member-worklog .title .total-hour {
    display: block;
    line-height: 36px;
    font-size: 36px;
    color: #cccccc;
    position: absolute;
    top: 12px;
    right: 12px;
}

.worklogs {
    padding: 5px 0 0 95px;
    margin: 0 20px 20px 20px;
    border-top: 1px dashed #d1d1d1;
    position: relative;
    min-height: 70px;
    min-height: 75px \0/;
}

.worklogs.first {
    border-top: none;
}

.worklogs.no-worklog {
    padding: 20px 0 0 20px;
    font-size: 14px;
    color: #999999;
    min-height: 0;
}

.worklogs .title {
    width: 68px;
    height: 68px;
    background: url(../images/date-bg.png) no-repeat 0 0;
    position: absolute;
    top: 12px;
    left: 10px;
}

.worklogs.vocation .title {
    background: url(../images/date-bg-vocation.png) no-repeat 0 0;
}

.worklogs .title .month {
    color: #ffffff;
    position: absolute;
    top: 8px;
    left: 25px;
}

.worklogs .title .date {
    display: block;
    width: 68px;
    text-align: center;
    color: #aaaaaa;
    font-size: 30px;
    position: absolute;
    top: 29px;
    left: 0;
}

.worklogs .title .weekday {
    display: none;
    color: #ffffff;
    position: absolute;
    top: 9px;
    right: 12px;
}

.worklogs .member-worklog {
    padding: 0 0 0 80px;
    position: relative;
}

.worklogs .member-worklog .name {
    display: block;
    width: 70px;
    height: 14px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    top: 4px;
    left: 0;
}


.worklog {
    margin: 10px 0 0 0;
    padding: 0 100px 0 100px;
    position: relative;
}

.team-worklog .member-worklog .worklog {
    margin: 15px 0 0 35px;
}

.worklogs .member-worklog .worklog {
    padding-right: 40px;
}

.worklog .hour {
    display: block;
    line-height: 1.5;
    font-size: 14px;
    color: #aaaaaa;
    position: absolute;
    top: 0;
    left: 0;
}

.worklog .period {
    display: block;
    width: 48px;
    height: 12px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 4px;
    left: 35px;
}

.worklog .period span {
    display: block;
    height: 12px;
    background: #cccccc;
    position: absolute;
    top: 0;
    left: 0;
}

.worklog .worklog-content {
    line-height: 1.6;
    font-size: 14px;
    color: #000000;
    position: relative;
}

.worklog .worklog-content .worklog-info {
    display: inline-block;
    margin: 0 0 0 10px;
    white-space: nowrap;
    position: relative;
}

.worklog .worklog-content .labels {
    color: #999999;
    font-size: 12px;
}

.worklog .worklog-content .labels a {
    color: #999999;
}

.worklog .worklog-content .comments {
    display: block;
    width: 50px;
    height: 16px;
    line-height: 16px;
    color: #333333;
    font-weight: bold;
    position: absolute;
    top: 3px;
    right: -60px;
}

.worklog .worklog-content .comments img {
    vertical-align: middle;
    margin: 0 2px 0 0;
}

.worklog .worklog-content .comments.no-comment {
    visibility: hidden;
}

.worklog.over .worklog-content .comments {
    visibility: visible;
}

.worklog .worklog-content .comments:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

.scroll-loading {
    display: block;
    width: 160px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #999999;
    background: #eeeeee;
    margin: 20px auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.scroll-loading:hover {
    background: #f1f1f1;
    text-decoration: none;
}

.scroll-loading.loading {
    background: #eeeeee;
    cursor: default;
}

